.container {
    margin-top: 75px;
}

.card {
    border: 2px solid #000;
    border-radius: 20px;
}

i:nth-child(1) {
    color: #aaadaf;
}

i:nth-child(2) {
    color: #52565b;
    cursor: pointer;
}